.hero__wrapper {
  display: flex;
  justify-content: space-between;
}

.hero__content,
.hero__image {
  width: 50%;
}

.hero__image img {
  width: 100%;
}

.hero__content {
  padding-top: 40px;
}

.hero__content h2 {
  font-size: 3rem;
  line-height: 65px;
}

.hero__content p {
  margin-top: 40px;
  font-size: 1.1rem;
}

.highlight {
  color: var(--primary-color);
}

.hero__btns {
  margin-top: 40px;
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.primary__btn {
  font-size: 1rem;
  font-weight: bold;
  border: none;
  padding: 0.7rem 1.5rem;
  border: 1px solid var(--btn-primary-bg);
  background: var(--btn-secondary-bg);
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.primary__btn:hover {
  background: var(--btn-primary-bg);
  color: #000;
  border-color: var(--btn-secondary-bg);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.primary__btn:focus {
  outline: 2px solid var(--btn-primary-bg);
  outline-offset: 2px;
}

.secondery__btn {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.secondery__btn:hover {
  background-color: var(--primary-color);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.secondery__btn:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}
